<div class="bg">
  <div class="container-fluid">
    <div class="row bg-colore">
      <div class="col-md-12">
        <h1 class="fs-54 text-center letra ma">Nossos Parceiros!!</h1>
        <h4 class="fs-18 text-center letrass mt-6">Aqui são empresas que tambám fazem parte do nosso time,
          que nos apoiam, e vem movendo para que juntos conseguimos fazer a diferença! <br>
         Para fazer parte dessa familia se inscreva você também, clicando no PARA EMPRESA no menu.</h4>
        <div class="row d-flex justify-content-center mt-2 mb-5">
          <div class="col-md-3">
            
          </div>
        </div>
      </div>
    </div>
    
  
  <div class="wrapper">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 col-lg-3 margin">
          <div class="card mx-30">
            <img src="https://i.imgur.com/uRY2O0Y.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Alura</h5>
              <p class="card-text"></p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="card mx-30">
            <img src="https://i.imgur.com/BJtgriz.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                Next</h5>

              <p class="card-text"></p>
             
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="card mx-30">
            <img src="https://i.imgur.com/rMfMdAG.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                Fiap</h5>

              <p class="card-text"></p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="card mx-30">
            <img src="https://i.imgur.com/PR8uceR.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BMA</h5>

              <p class="card-text"></p>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>