@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap%27');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css%22");

.body{

   /* background: -webkit-linear-gradient(to right, #000316, #000000);
    background: linear-gradient(to right, #000316, #000000);*/
}

.container-fluid{
    background-image: url("https://i.imgur.com/CojdllQ.jpg");
    font-family:"Baloo Da 2", serif;
    min-height: 695px;
    background-repeat:no-repeat;
    background-size:cover;
   
}

#img-bg{
   /* background-image: url("https://i.imgur.com/N2huO6r.jpg");*/
   
}
button{
    margin-top: 10px;
    margin-left: 80px;
}
.btn-square:hover{
    
    background-color: rgb(17, 255, 17);
}

.btn-squaree:hover{
    
    background-color: rgb(255, 53, 17);
}
