<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#"><img
            src="https://media.discordapp.net/attachments/968853367747117077/987432346565349466/8PCEvkS1.png?width=150&height=100"
            alt=""></a>

</nav>
<div class="container-fluid">
    <div class="row bg-colore">
        <div class="col-md-12">
            <h1 class="fs-54 text-center letra">Nossa Equipe</h1>
            <h5 class="fs-18 text-center letras">Responsáveis pela criação do Educa++, estudantes da Generation Brasil,
                que juntos conseguiram fazer a diferença.</h5>
            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>

</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container marge">
    <div class="row">
        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/95/fa/ba/95faba343d15ad90ab912d6b6f967d33.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white">Cíntia Rocha</h6>
                    <p class="text-muted">Desenvolvedora Junior</p>
                    <hr>
                    <P class="text-muted">Me chamo Cíntia, tenho 26 anos, moro na Zona Leste de São Paulo, atualmente estou cursando Engenharia de produção, e estou em transição de carreira e acabei de me formar Desenvolvedora Full Stack Java Junior, pela Generation Brasil.</P>


                    <div class="counter-block m-t-10 p-20">

                    </div>
                    <p class="m-t-15 text-muted"></p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/cintia-amanda-de-oliveira-rocha/" target="_blank"><img src="https://i.imgur.com/wz0ciJe.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://www.instagram.com/ci_ro95/" target="_blank"><img src="https://i.imgur.com/FpF3pln.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/cintiarocha" target="_blank"><img src="https://i.imgur.com/WnsJq1I.png" alt=""
                                    width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/3d/38/f4/3d38f440b972908a09dc728ee42d6ca8.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white">Charles Amorim</h6>
                    <p class="text-muted">Desenvolvedor Junior</p>
                    <hr>
                    <p class="m-t-15 text-muted">Formado em Analise e Desenvolvimento de Sistemas na UNIP e recém formado em Desenvolvimento FullStack Web Java Jr pela Generation Brasil, apaixonado por tecnologia e inovação com experiência em atendimento ao cliente no setor bancário de alta renda</p>

                    <div class="counter-block m-t-10 p-20">

                    </div>
                   
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/charlesamorimdev/" target="_blank"><img src="https://i.imgur.com/wz0ciJe.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="#!" target="_blank"><img src="https://i.imgur.com/FpF3pln.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/CharlesAmorimDev" target="_blank"><img src="https://i.imgur.com/WnsJq1I.png" alt=""
                                    width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/ff/11/87/ff11875dce275548f4a78255575463ad.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white">Deise Santos</h6>
                    <p class="text-muted">Desenvolvedora Junior</p>
                    <hr>
                    <p class="m-t-15 text-muted">Me chamo Deise, atualmente estou em transição de carreira para a área de tecnologia, como desenvolvedora full stack jr, pela Generation Brasil. Sou uma profissional da área de exatas e tenho 6 anos de experiência na área de Engenharia civil</p>

                    <div class="counter-block m-t-10 p-20">

                    </div>
                    
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/deisesant/" target="_blank"><img src="https://i.imgur.com/wz0ciJe.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://www.instagram.com/deise_s_s/" target="_blank"><img src="https://i.imgur.com/FpF3pln.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/DeiseSant" target="_blank"><img src="https://i.imgur.com/WnsJq1I.png" alt=""
                                    width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/ac/a1/ab/aca1abe630490611442701529c0717d4.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white ">Douglas Santos</h6>
                    <p class="text-muted">Desenvolvedor Junior</p>
                    <hr>
                    <p class="m-t-15 text-muted">Sou o Douglas formado em administração, atualmente estou em transição de carreira , buscando uma posição na área de tecnologia como Desenvolvedor Full Stack Junior.</p>

                    <div class="counter-block m-t-10 p-20">

                    </div>
                    
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/douglasmichelsantos" target="_blank"><img src="https://i.imgur.com/wz0ciJe.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://www.instagram.com/__santosdouglas/" target="_blank"><img src="https://i.imgur.com/FpF3pln.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/Santos-Douglas" target="_blank"><img src="https://i.imgur.com/WnsJq1I.png" alt=""
                                    width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/dd/31/49/dd314923ba878fe6d61f431a8f382eb7.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white">Luís Henrique</h6>
                    <p class="text-muted">Desenvolvedor Junior</p>
                    <hr>

                    <P class="text-muted">Eu sou o Luís, tenho 24 anos, moro em Osasco, SP, atualmente estou cursando Análise e Desenv. de
                        Sistemas e acabei de me formar Desenvolvedor Full Stack Java Junior, pela Generation Brasil.</P>


                    <div class="counter-block m-t-10 p-20">

                    </div>
                    <p class="m-t-15 text-muted"></p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/luis-henrique-seles/"
                                target="_blank"><img src="https://i.imgur.com/wz0ciJe.png" alt="" width="40px"></a>
                        </div>
                        <div class="col-auto"><a href="https://www.instagram.com/_luisseles/" target="_blank"><img
                                    src="https://i.imgur.com/FpF3pln.png" alt="" width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/Luisseles" target="_blank"><img
                                    src="https://i.imgur.com/WnsJq1I.png" alt="" width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/34/af/ea/34afea9bad988ca7b3d170ce74cbf0f6.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white">Sabrina Godoy</h6>
                    <p class="text-muted">Desenvolvedora Junior</p>
                    <hr>
                    <p class="text-muted">Me chamo Sabrina, tenho 18 anos, moro na grande São Paulo, atualmente estou me
                        descobrindo na área da tecnologia como Desenvolvedora Full Stack Jr. Entre em contato comigo pelos
                        icones abaixo</p>


                    <div class="counter-block m-t-10 p-20">

                    </div>
                    <p class="m-t-15 text-muted"></p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/sabrina-godoy-717773234/" target="_blank"><img
                                    src="https://i.imgur.com/wz0ciJe.png" alt="" width="40px"></a></div>
                        <div class="col-auto"><a href="https://www.instagram.com/godoy._.s/" target="_blank"><img
                                    src="https://i.imgur.com/FpF3pln.png" alt="" width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/Sabrinagodoy1" target="_blank"><img
                                    src="https://i.imgur.com/WnsJq1I.png" alt="" width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block body">
                    <div class="user-image">
                        <img src="https://i.pinimg.com/564x/a5/ac/58/a5ac5800855ab22118e623d0c8d49b59.jpg"
                            class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10 text-white">Wesley Carlos</h6>
                    <p class="text-muted">Desenvolvedor Junior</p>
                    <hr>
                    <p class="m-t-15 text-muted">Me chamo Wesley tenho 25 anos moro na cidade de Embu das artes,  atualmente estou em transição de carreira para a área de tecnologia,  sou uma pessoa muito determinada e meu foco é sempre estar evoluindo.</p>

                    <div class="counter-block m-t-10 p-20">

                    </div>

                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto"><a href="https://www.linkedin.com/in/wesley-carlos-cardoso/" target="_blank"><img src="https://i.imgur.com/wz0ciJe.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="#!" target="_blank"><img src="https://i.imgur.com/FpF3pln.png" alt=""
                                    width="40px"></a></div>
                        <div class="col-auto"><a href="https://github.com/WesleyCarlos41" target="_blank"><img src="https://i.imgur.com/WnsJq1I.png" alt=""
                                    width="40px"></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>