ul {
    list-style: none;
    padding: 0px;
}

  ul.lista-nav li {
    display: inline;
    margin: 0px;

  }

.color-bg-principal{
    background-color: #2B475E;

}

.nav-a{
    color: aliceblue;
    padding: 0px;
    padding-left: 20px;
    
}

.fs-54 {
    color:#FFD43D;
    padding: 3rem;
    text-align: left;
    font-size: 80px;
    font-weight: bold;
    margin-left: 2rem;

}

h2 {
    padding: 5px;
    text-align: justify;
    font-size: 20pt;
    font-weight: bold;
    margin-left: 5rem;
    ;

}

h1 {
    padding: 0px;
    margin-left: 30px;
    margin-top: 0px;
}

p {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    font-size: 14pt;

}

a {
    cursor: pointer;
}


.fs-12 {
    padding-bottom: 2rem;
    text-align: left;
    font-size: 14pt;
    margin-left: 5rem;

}

.card-group{
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    
}

.btn{
    margin-left: 5rem;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    color: white;
}

.btn:hover{
    background-color:#FFD43D;
}

.bg{
    background-color: #2B475E;
    border: 0ch;
}